IF DB_ID('FamilyFeud') IS NULL
BEGIN
    CREATE DATABASE FamilyFeud;
END
GO

USE [FamilyFeud]
GO
/****** Object:  Table [dbo].[QuestionAnswers]    Script Date: 9/29/2026 11:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionAnswers](
	[AnswerId] [int] IDENTITY(1,1) NOT NULL,
	[QuestionSetId] [int] NOT NULL,
	[AnswerText] [nvarchar](200) NOT NULL,
	[Points] [int] NOT NULL,
	[SlotNumber] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AnswerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionSets]    Script Date: 9/29/2026 11:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionSets](
	[QuestionSetId] [int] IDENTITY(1,1) NOT NULL,
	[QuestionText] [nvarchar](500) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[QuestionSetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[QuestionSets] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[QuestionAnswers]  WITH CHECK ADD FOREIGN KEY([QuestionSetId])
REFERENCES [dbo].[QuestionSets] ([QuestionSetId])
GO
